html {
  background-image:url("https://thumbs.gfycat.com/RingedSpicyKodiakbear-size_restricted.gif");
  height:100%;
  position:relative;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

#heading {
	color:rgb(255, 255, 255);
	text-align:center;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	position:relative;
	width:100%;
	padding:17px 0px 17px 0px;
	line-height:28px;
}

#juke {
	position:relative;
	margin: 0 auto;
	width:180px;
	height:298px;
	display:block;
	float:none;
}

#juke img {
	position:relative;
}

a {
	text-decoration:none;
	background-color:rgb(255, 0, 0);
	width:18px;
	height:20px;
	border-radius:50%;
	position:absolute;
	border:2px solid black;
	top:70.5%;
	left:45.3%;
	padding:.31px;
	outline:0;
}

a:active {
	text-decoration:none;
	background-color:rgb(255, 0, 0);
	width:15.5px;
	height:17.5px;
	border-radius:50%;
	position:absolute;
	top:71%;
	left:45.8%;
	padding:.35px;	
}

.notes {
	position:absolute;
	top:15%;
	left:15%;
	right:0;
	bottom:0;
}	

span {
	color:rgb(255, 0, 0);
}
